@font-face {
  font-family: HK-GroteskBold;
  src: url(../FONTs/static/HankenGrotesk-Bold.ttf);
}
@font-face {
  font-family: HK-GroteskMedium;
  src: url(../FONTs/static/HankenGrotesk-Medium.ttf);
}

:root {
  --HK-bold: HK-GroteskBold;
  --HK-medium: HK-GroteskMedium;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  background-image: url(../MEDIA/bloques\ y\ lampara.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  width: 90%;
  height: 90vh;
}
.main {
  width: 100%;
  height: 90vh;
  background-color: #0007;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
}

.perfil-pic {
  width: 52vh;
  height: 52vh;
  border-radius: 50%;
  border: medium #fff solid;
  animation: into-left 500ms both ease;
}
.perfil-pic img:hover {
  transform: scale(1.1, 1.1);
  transition: 300ms ease;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.left-part nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 2rem;
}
.left-part nav a img {
  width: 3.5rem;
  height: 3.5rem;
  animation: into-left 700ms both 3500ms ease;
}
.left-part nav a:nth-child(2) img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 8px;
  animation: into-left 700ms both 3700ms ease;
}
.left-part nav a:nth-child(1) img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 8px;
  animation: into-left 700ms both 3900ms ease;
}
.left-part nav a:hover {
  transform: scale(1.2);
  transition: 300ms ease;
}

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
h1 {
  color: #fff;
  font-family: var(--HK-bold);
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}
.right-part h3 {
  color: #fff;
  font-family: var(--HK-medium);
  font-size: 1.4rem;
  text-align: center;
}

.botons {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botons div {
  margin-top: 2rem;
  width: 70%;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #fff;
  padding: 8px;
  animation: into-right 700ms ease 700ms both;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-botons {
  color: #fff;
  font-family: var(--HK-medium);
  text-decoration: none;
}
.link-botons:hover {
  color: #ff1502;
  transition: 300ms ease;
}

.botons div:nth-child(2) {
  animation: into-right 700ms ease 1400ms both;
}
.botons div:nth-child(3) {
  animation: into-right 700ms ease 2100ms both;
}
.botons div:nth-child(4) {
  animation: into-right 700ms ease 2800ms both;
}

h4 {
  color: #fff;
  font-family: var(--HK-medium);
  font-size: 1rem;
}

@media (max-width: 400px) {
  main {
    background-image: url(../MEDIA/Black\ Background.jpg);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  .perfil-pic {
    width: 20rem;
    height: 20rem;
  }

  .main {
    width: 100%;
    height: auto;
    background-color: #0007;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
  }
  .left-part {
    margin-top: 1rem;
    height: auto;
    order: -2;
  }
  .right-part {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    order: -3;
  }
  .vacia {
    width: 0%;
    height: 0%;
    order: -100;
  }
}
